@value base: "../../public/css/var.css";
@value lineColor,mainColor, headerFontColor, headerBg, fontWeekColor, btnFontSize from base;

.officialBuy {
  position: relative;
  border-top: 12px solid #eee;
  background: white;
}
.marketTitle {
  padding: 0 10px;
  color:fontWeekColor;
}
.h2Title {
  height: 1px;
  margin: 25px 15px 20px;
  background-color: #eee;
  position: relative;
}
.h2Title span {
  font-size: 18px;
    color: #d39756;
    background-color: #fff;
    width: 120px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -60px;
    font-weight: bold;
}
label {
  display: inline-block;
  width: 37%;
  padding: 0 10px;
}
.officialPrice {
  padding: 10px 20px;
  line-height: 40px;
}
.officialPrice span {
  font-size: $super_font_size;
  color: $font_color;
  padding-right: 15px;
}
.btnOfficialBuy {
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: mainColor;
  text-align: center;
  float: right;
  font-size: btnFontSize;
  border-radius: 1px;
}
